@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    background-color: #1e2827;
    color: #ffffff;
}

:root {
    font-family: "Pretendard";
    padding: 0;
    margin: 0;
}

header {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

header h1{
    text-align: left;
    padding: 1.5rem;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.img_horizontal img{
    width: 95%;
    max-width: 1000px;
    height: auto;
}

.img_vertical img{
    width:95%;
    max-width: 600px;
    height: auto;
}

.title {
    font-size: 1rem;
    margin: 0;
}

.info {
    font-size: 0.8rem;
    color: #8b8b8b;
    margin: 0;
    padding: 0;
}

.location {
    font-size: 0.8rem;
    color: #516c69;
    margin: 0;
    padding-bottom: 8rem;
}

footer {
    background-color: #182120;
    font-size: 0.8rem;
    color: #516c69;
    margin: 0;
    padding: 1rem;
}

footer a {
    color: #516c69;
}